<div class="leagues_show">
  <div><%= @league %></div>

  <% next_schedule = @league.next_schedule -%>
  <div class="team_schedules">
    <% @league.teams.each do |team| -%>
      <%= render partial: 'team_schedule', locals: {team: team, next_schedule: next_schedule} %>
    <% end -%>
  </div>

  <div class="links">
    <%= link_to 'Games', games_path(league_id: @league) %>
    <%= link_to 'Last Game', @game_played_last %>
  </div>
</div>
