<div class="leagues_show">
  <div><%= @league %></div>

  <div class="team_schedules">
    <% @league.teams.each do |team| -%>
      <%= render partial: 'team_schedule', locals: {team: team} %>
    <% end -%>
  </div>

  <div>
    <%= link_to 'Games', games_path(league_id: @league) %>
  </div>
</div>
