<div class="off_def_charts_index">
  <table id="off_def_chart">
    <thead>
      <%= render 'defensive_play_header' %>
    </thead>
    <tbody>
      <% @offensive_plays.each do |op| -%>
        <tr>
          <th><%= op %></th>
          <% @defensive_plays.each do |dp| -%>
            <td class="<%= @type ? 'numeric' : 'centered' %>">
              <%= @f_item.call(op, dp) %>
            </td>
          <% end -%>
        </tr>
      <% end -%>
    </tbody>
  </table>
</div>
