// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: "arial",sans-serif;
  font-size: small;
}

div.error {
  color: red;
}

tr.border_top td {
  border-top: solid 1px black;
}

tr.border_bottom td {
  border-bottom: solid 1px black;
}

.games_index {

  td {
    padding: 2px 5px;
  }

  td.score {
    padding-left: 0;
  }
}

table.score_board {

  td.elapsing {
    color: red;
  }

  td.score_by_quarter {
    width: 15px;
  }

  td.score_final {
    width: 25px;
  }
}

form a {
  margin-left: 20px;
}

table.plays_to_choose td {
  text-align: center;
  padding: 1px 8px;
}

table#play_by_play {
  font-size: xx-small;
  border: none 0 white;

  td {
    border: none 0 white;
    padding-left: 5px;
  }

  tr.border_top {
    border-top: solid 1px black;
  }
}

#judgments_and_plays {
  display: flex;
  margin-top: 20px;
}

div.strategy_tool_judgments {
  font-size: x-small;

  td {
    padding: 0;
  }

  td.true {
    color: red;
    font-weight: bold;
  }

  td.value {
    text-align: right;
    padding-left: 10px;
  }
}

table.plays_to_choose {
  margin-top: 20px;
  margin-left: 20px;

  td {
    padding: 0 2px;
  }
}

div.team_traits {
  margin-left: 20px;
}

div.stats {
  display: flex;
  font-size: xx-small;

  div {
    margin-right: 20px;
  }

  table {
    margin-bottom: 10px;
  }

  table.team_traits {
    margin-top: 20px;
  }
}

div.stats.hidden {
  display: none;
}

span.button {
  font-size: xx-small;
  cursor: pointer;
}

div.buttons {
  margin-top: 20px;
  margin-bottom: 5px;

  span {
    margin-right: 40px;
  }
}

body.real {

  table.score_board {
    color: yellow;
    background-color: black;
    font: arial;
    font-size: xx-large;

    td {
      padding-top: 0px;
      padding-bottom: 0px;
      padding-right: 20px;
    }

    td.tight {
      padding-right: 0px;
    }

    td.score_by_quarter {
      width: 35px;
      padding-right: 10px;
    }

    td.score_final {
      width: 55px;
    }
  }

  table#information_board, div#announce_board {
    font-size: large;
  }

  div#announce_board {
    display: inline-block;
    padding: 2px 5px;
    margin-bottom: 10px;
  }

  table#information_board td {
    font-size: large;
  }

  div.strategy_tool_judgments {
    font-size: small;
  }

  table#play_by_play {
    font-size: small;
  }

  div.stats {
    font-size: small;
  }
}
