// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: "arial",sans-serif;
  font-size: small;
}

div.error {
  color: red;
}

td.numeric {
  text-align: right;
}

td.centered {
  text-align: center;
}

tr.border_bottom td {
  border-bottom: solid 1px black;
}

table.score_board {
  td.elapsing {
    color: red;
  }
}

table.plays_to_choose td {
  text-align: center;
  padding: 1px 8px;
}

table#information_board td {
  font-size: x-small;
}

table#play_by_play {
  font-size: xx-small;

  td {
    padding-left: 5px;
  }
}

span.button {
  font-size: xx-small;
  cursor: pointer;
}

body.real {

  table.score_board {
    color: yellow;
    background-color: black;
    font: arial;
    font-size: xx-large;
  }

  table.score_board td {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 20px;
  }

  table.score_board td.tight {
    padding-right: 0px;
  }

  table#information_board, div#announce_board {
    color: white;
    background-color: black;
    font-size: large;
  }

  div#announce_board {
    display: inline-block;
    padding: 2px 5px;
    margin-bottom: 10px;
  }

  table#information_board td {
    font-size: large;
  }

  table#play_by_play {
    font-size: medium;
  }
}
