.leagues_show {

  .page_title span {
    margin-left: 30px;
  }

  table {
    margin-top: 15px;
  }

  th {
    font-weight: normal;
  }

  .team_schedules {
    display: flex;
    flex-wrap: wrap;

    table.team_schedule {
      margin-right: 15px;

      td.result, td.score {
        text-align: center;
      }

      td.result {
        padding: 0 4px;
      }
    }

    td {
      white-space: nowrap;
    }

    span.number {
      font-size: xx-small;
    }

    td.opponent {
      padding: 0 5px;
    }

    td.next_game {
      color: red;
      font-weight: bold;
    }
  }

  div.standings {
    display: flex;

    div.team_traits {
      margin-left: 40px;
    }
  }

  table.standings {

    td.games {
      width: 20px;
    }

    td.points {
      width: 30px;
    }
  }

  div.stats_tables {
    display: flex;
    flex-wrap: wrap;
  }

  table.stats {
    margin-right: 20px;

    td {
      white-space: nowrap;
      padding: 0 5px;
    }
  }

  .links {
    margin-top: 20px;

    a {
      margin-right: 20px;
    }
  }
}
