.leagues_show {

  .team_schedules {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;

    table.team_schedule {
      margin-right: 15px;
    }

    td.opponent {
      padding: 0 5px;
    }

    td.next_game {
      font-weight: bold;
    }
  }

  .links a {
    margin-right: 20px;
  }
}
