.leagues_show {

  .page_title {
    display: flex;

    span {
      margin-left: 30px;
    }

    div.actions {
      margin-left: 30px;

      a {
        margin-left: 10px;
      }
    }
  }

  table {
    margin-top: 15px;
  }

  th {
    font-weight: normal;
  }

  .team_schedules, .playoff_schedules {
    display: flex;
    flex-wrap: wrap;

    table.team_schedule {
      margin-right: 15px;

      td.result {
        text-align: center;
      }

      td.result {
        padding: 0 4px;
      }
    }

    table.playoffs {
      margin-top: 5px;

      td.name {
        padding-top: 10px;
      }
    }

    td {
      white-space: nowrap;
    }

    span.number {
      font-size: xx-small;
    }

    td.opponent {
      padding: 0 5px;
    }

    td.next_game {
      color: red;
      font-weight: bold;
    }

    td.winner {
      padding-left: 20px;
    }
  }

  div.standing {
    display: flex;
    align-items: flex-start;

    table.standing {
      margin-right: 40px;
    }
  }

  table.standing {

    td.games {
      width: 20px;
    }

    td.points {
      width: 30px;
    }
  }

  div.stats_tables {
    display: flex;
    flex-wrap: wrap;
  }

  table.stats {
    margin-right: 20px;

    td {
      white-space: nowrap;
      padding: 0 5px;
    }
  }

  .links {
    margin-top: 20px;

    a {
      margin-right: 20px;
    }
  }
}
