.teams_index {

  th.toggle_actions {
    cursor: pointer;
  }

  td.numeric {
    padding-left: 20px;

    &.last {
      background-color: gainsboro;
      padding-left: 8px;
    }
  }

  td a {
    margin-left: 5px;
  }
}
