div.teams_index {

  div.actions {
    margin-bottom: 5px;
  }
}

table.team_traits {

  th.toggle_actions {
    cursor: pointer;
  }

  td.numeric {
    padding-left: 14px;

    &.last {
      background-color: gainsboro;
      padding-left: 8px;
    }

    span.positive {
      color: blue;
    }

    span.negative {
      color: red;
    }

    &:has(.increased) {
      background-color: cyan;
      font-weight: bold;
    }

    &:has(.decreased) {
      background-color: pink;
      font-weight: bold;
    }
  }

  td a {
    margin-left: 5px;
  }
}
