.teams_index {

  th.toggle_actions {
    cursor: pointer;
  }

  td.numeric {
    padding-left: 14px;

    &.last {
      background-color: gainsboro;
      padding-left: 8px;
    }

    span.increased {
      color: red;
      font-weight: bold;
    }

    span.decreased {
      color: blue;
      font-weight: bold;
    }
  }

  td a {
    margin-left: 5px;
  }
}
