<div class="play_sets_index">
  <%= render partial: 'table', locals: {play_sets: @offensive_play_sets, plays: @offensive_plays} %>

  <%= render partial: 'table', locals: {play_sets: @defensive_play_sets, plays: @defensive_plays} %>
</div>
