<div class="play_sets_index">
  <%= form_with model: @play_set_for_form do |form| %>
    <%= render partial: 'table',
               locals: {form: form, play_sets: @offensive_play_sets, plays: @offensive_plays} %>
  <% end -%>

  <%= form_with model: @play_set_for_form do |form| %>
    <%= render partial: 'table',
               locals: {form: form, play_sets: @defensive_play_sets, plays: @defensive_plays} %>
  <% end -%>
</div>
